[mysqld]
lower_case_table_names = 0
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
init_connect = 'SET NAMES utf8mb4 COLLATE utf8mb4_general_ci'

general_log = 1
general_log_file = /db_logs/00_general.log
log_error = /db_logs/02_error.log
slow_query_log = 1
slow_query_log_file = /db_logs/01_slowquery.log	
long_query_time = 2
log_queries_not_using_indexes = 1
performance_schema = ON
# server_audit_file_path = /db_logs/03_audit.log

innodb_buffer_pool_size = 3G
key_buffer_size = 256M
query_cache_type = 0
query_cache_size = 0
max_connections = 100
sort_buffer_size = 2M
join_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 2M
